{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% if articles %}
<div class="container-fluid" style="padding-left: 0">
    <div class="d-flex flex-row bd-highlight mb-3">
        {% if categories %}
        <div class="list-group mt-4">
            <h6 class="list-group-item" style="background-color:#48D1CC; border-color:#48D1CC" aria-current="true"
                aria-disabled="true">
                Categories:</h6>
            {% for category in categories %}
            <a href="{% url 'category_articles' category_from_url=category %}"
               class="list-group-item list-group-item-action">{{ category }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container mt-4">
            <h1 class="content-text">{{ content }}</h1>
            <div class="row">
                {% for article in articles %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow" style="width: auto; ">
                        <div class="card-body">
                            <img src="{{ article.image.url }}" class="card-img-top" alt="">
                            <a href="{% url 'full_article' slug=article.slug %}" class="card-link">
                                <h5 class="card-title">{{ article.title }}</h5>
                            </a>
                            <p style="text-align: justify">{{ article.text|truncatechars:50}}</p>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Category:
                                <a href="{% url 'category_articles' category_from_url=article.category %}">
                                    {{ article.category }}
                                </a>
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted">Author:
                                {% if article.author %}
                                <a href="{% url 'user_articles' username=article.author %}">{{ article.author }}</a>
                                {% else %}
                                <a href="{% url 'user_articles' username='Anonymous_user' %}">Anonymous user</a>
                                {% endif %}
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted">Created: {{ article.created }}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if title != 'All articles' %}
            <a href="{% url 'home' %}" class="btn btn-sm btn-primary">Back to all articles</a>
            {% endif %}
        </div>
    </div>
</div>
{% elif content_type == 'user' %}
<div class="mt-5">
    <h1 class="content-text">{{ user }} has no articles yet :( </h1>
</div>
{% elif content_type == 'category' %}
<div class="mt-5">
    <h1 class="content-text">There is no articles for {{ title }} category</h1>
    {% endif %}
</div>

{% endblock %}
