{% extends 'base.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron" style="margin-top: 20px">
        <div style="display: flex; margin-bottom: 20px">
            <h1 style="margin-right: 10px">{{ article.title }}</h1>
            <img src="{{ article.image.url }}" style="max-width: 800px">
        </div>
        <p class="lead" style="text-align: justify">{{ article.text }}</p>
        <p class="text-muted">Author:
            {% if article.author %}
            <a href="{% url 'user_articles' username=article.author %}">{{ article.author }}</a>
            {% else %}
            <a href="{% url 'user_articles' username='Anonymous_user' %}">Anonymous user</a>
            {% endif %}
        </p>
        <p class="text-muted">Category:
            <a href="{% url 'category_articles' category_from_url=article.category|title %}">
                {{ article.category|title }}
            </a>
        </p>
        <p class="text-muted">Created: {{ article.created }}</p>
        <a href="{% url 'home' %}" class="btn btn-sm btn-primary">Back to all articles</a>
    </div>
</div>
{% endblock %}