
.asteriskField {
    display: none;
}

.form-text {
    margin-top: .25rem;
    text-align: left;
}

.content-text {
    text-align: center;
    margin-bottom: 20px;
    background-color: #48D1CC;
    display: inline-block;
    border-radius: 50px;
    padding: inherit
}


img {
    overflow: hidden;
}