{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="text-align: center">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <a class="p-2 text-dark" href="{% url 'home' %}">
        <img src="{% static 'blog_logo.jpg' %}" style="max-width: 80px" class="mr-5">
    </a>
    <a class="p-2 text-dark" href="{% url 'home' %}">All articles</a>
    {% if user.is_authenticated %}
    <a class="p-2 text-dark" href="{% url 'add_new_article' %}">Add new article</a>
    {% if user.is_staff %}
    <a class="p-2 text-dark" href="{% url 'add_new_category' %}">Add new category</a>
    {% endif %}
    <a class="p-2 text-dark" href="{% url 'user_articles' username=user%}">Your articles</a>
    <p class="p-2 text-dark ml-auto" style="margin-bottom: 0">Hi, {{ user.username }}! You are logged in.</p>
    <a class="btn btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    {% else %}
    <a class="p-2 text-dark ml-md-auto" href="{% url 'sign_up' %}">Sign Up</a>
    <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>